{{ define "footer.html" }}

<footer class="wrapper pattern-wrapper bg-image section-frame" data-image-src="static/img/pattern.png">
  <div class="container pb-13 pb-md-15">
    <div class="card image-wrapper bg-full bg-image mt-n50p mx-md-5 rounded-xl" data-image-src="static/img/photos/bg13.jpg">
      <div class="card-body p-6 p-md-11 d-lg-flex flex-row align-items-lg-center justify-content-md-between text-center text-lg-start">
        <h3 class="display-2 mb-6 mb-lg-0 pe-lg-10 pe-xl-5 pe-xxl-18 text-white"><span class="text-gradient gradient-7">Lets start building</span> your tomorrow, today</h3>
        <a href="#" class="btn btn-lg btn-white rounded-xl mb-0 text-nowrap">Get Started</a>
      </div>
    </div>
    <div class="text-inverse mx-md-5 mt-n15 mt-lg-0">
      <div class="row gy-6 gy-lg-0">
        <div class="col-lg-4">
          <div class="widget">
            <h3 class="h2 mb-3 text-white"><a class="text-white" href="nerdpitch.cloud/join-us/">Join the Cloud</a></h3>
            <p class="mb-5">Whether you’re migrating or already in the cloud, we’ll help you modernize and digitally transform your business.</p>
            </nav>
          </div>
        </div>
        <div class="col-md-4 col-lg-2 offset-lg-2">
          <div class="widget">
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-lg-2">
          <div class="widget">
          </div>
        </div>
        <div class="col-md-4 col-lg-2">
          <div class="widget">
            </ul>
          </div>
        </div>
      </div>
      <hr class="mt-13 mt-md-14 mb-7" />
      <div class="d-md-flex align-items-center justify-content-between">
        <p class="mb-2 mb-lg-0">© 2025 Nerdpitch. All rights reserved.</p>
        <nav class="nav social social-white">
          <a href="https://www.linkedin.com/company/nerdpitch/"><i class="uil uil-linkedin"></i></a>
          <a href="https://www.instagram.com/lifeatnerdpitch/"><i class="uil uil-instagram"></i></a>
          <a href="https://github.com/nerdpitch-cloud"><i class="uil uil-github"></i></a>
          <a href="https://support.nerdpitch.cloud/bugs/"><i class="uil uil-bug"></i></a>
        </nav>
    </div>
  </div>
</footer>

<div class="pb-md-6"></div>
<div class="progress-wrap">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
  </svg>
</div>
<script src="static/js/plugins.js"></script>
<script src="static/js/theme.js"></script>
</body>
</html>
{{ end }}
